/hank.jld

/income_fluct.jl

/test.jl

/sync_plots.jl

/.ipynb_checkpoints/

/make_plots.ipynb

/New Plots.ipynb

/.~New Plots.ipynb

*.pdf

*.jld

/defs14.png

/.Rhistory

/.gitignore

.gitignore

/stats.txt

/New Plots.ipynb.invalid

/.gitignore

/onlyspread.png

/.gitignore

/main_old.jl

/.gitignore

/main.jl
